# Build outputs
.next/
out/
build/
dist/

# Dependencies
node_modules/

# Generated
*.lock
package-lock.json

# Test artifacts
/coverage
/test-results
/playwright-report
/playwright/.cache
/blob-report

# Misc
.DS_Store
.env*
public/